<% include partials/header %>
<% include partials/navbar %>

<div class="container-fluid">
  <h1><small>New review for: </small><%=album.title%></h1>

  <form method="post" action="/albums/<%=album.id%>/reviews/new" class="form-group">
    <label for="review_text">Your review: </label>
    <textarea class="form-control" name="review_text" id="review_text" rows="3"></textarea>
    <input type="submit" class="btn btn-primary" />
  </form>
  <h5><%=error%></h5>
</div>

<% include partials/footer %>
