<% include partials/header %>
<% include partials/navbar %>

<div class="container-fluid">
  <h1>Sign up for Vinyl!</h1>

  <form method="post" action="/users/signup" class="form-group">
    <label for="name">name</label>
    <input name="name" type="text" class="form-control" id="name" placeholder="name" />
    <label for="email">email</label>
    <input name="email" type="text" class="form-control" id="email" placeholder="email" />
    <label for="password">password</label>
    <input name="password" type="password" class="form-control" id="password" placeholder="password">
    <input type="submit" class="btn btn-primary" />
  </form>
  <h5><%=error%></h5>
</div>

<% include partials/footer %>
