<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Vinyl</a>
  <div class="nav justify-content-right">
    <% if (user) {%>
      <a class="nav-link" href="/users/<%=user%>">Profile</a>
      <a class="nav-link" href="/users/signout">Sign out</a>
    <%} else {%>
      <a class="nav-link" href="/users/signup">Signup</a>
      <a class="nav-link" href="/users/sign-in">Login</a>
    <% } %>
  </div>
</nav>
